body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a {
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

h2,h3 {
	text-align: center;
}

p {
	line-height: 1.65em;
}


.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: rgba(78,192,254,1);
	background: -moz-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 63px;
	padding-bottom: 145px;
	color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	
}

.title {
	font-size: 37px;
	width: 560px;
}

.title span {
	font-size: 59px;

}

.intro {
	font-size: 16px;
	margin-bottom: 43px;
	margin-top: 44px;
	width: 400px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	color: #fff;
	display: block;
	width: 223px;
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	color: #2e2a1b;
}

.desktop {
	margin-top: 60px;
}

.section-title {
	font-size: 30px;
}

.future {
	padding-top: 180px;
	padding-bottom: 125px;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.skill {
	width: 289px;
}

.skill-title {
	font-size: 19px;
	background: url('../img/icon1.jpeg') no-repeat top;
	padding-top: 90px;
}

.skill-text {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	text-align: center;
}

.trips {
	background: url('../img/icon2.jpeg') no-repeat top;	
}

.values {
	background: url('../img/icon3.jpeg') no-repeat top;
}

.order {
	background: #ecf3f8;
	padding-top: 100px;
	padding-bottom: 100px;
}

.input {
	width: 340px;
	border: 1px solid #bbbbbb;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	border-radius: 2px;
	height: 45px;
	padding: 12px 25px 11px 25px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	display: block;
}

.form {
	margin-top: 62px;
}

.btn-form {
	border: 0;
	margin-top: 11px;
	margin-right: auto;
	margin-left: auto;
	width: 340px;
}

.footer {
	padding: 64px 0;
	background: #164d7a;
	color: #fff;
}

.credits {
	font-size: 14px;
	text-align: center;
}


/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}
	
/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		widows: auto;
	}
	intro {
		width: auto;
	}
	.skills {
		flex-direction: column;
	}
	.skill {
		margin-bottom: 35px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	
}

/* 0 - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}

}